body {
  font-size: 22px;
  color: #000;
  background-color: #FFF;
  font-family: 'Dosis', sans-serif;
}


.container{
  max-width: 960px;
}


.center {
  left: 0px;
  right: 0px;
  margin: auto;
}

/*Main nav bar at top*/
#header-nav{
  list-style-type: none;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  height: 65px;
  z-index: 1;
  background-color: #000;
}



h2{
  padding-top: 150px;
  text-align: center;
  font-size: 66px;
}

h3{
  font-style: italic;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
 

#adjinput{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-top: 50px;


}

input{
  text-align: center;
}

p{
  text-align: center;
  width: 100%;
}




/*name at top left*/
#header-name{
  text-align: center;
    padding-top: 15px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

h1> a:link {
  color: #fff;
  text-decoration: none;
}

h1> a:visited {
  color: #fff;
  text-decoration: none;
}

h1> a:hover {
  color: #fff;
  text-decoration: underline;
}

h1>a:active {
   color: #fff;
    text-decoration: underline;
}

.footer{

}
